@import "normalize";
@import "reset";

body {
  font-family: sans-serif;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
  position: relative;
}

#robot {
  width: 50px;
  height: 100px;
  background-color: royalblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
}